
@media (max-width: 700px) {
    .card-deck .card {
        flex: 1 0 40%;
        width: 50%;
    }
}
@media (max-width: 500px) {
    .card-deck .card {
        width: 100%;
    }
}

.card:hover {
    cursor: pointer;
    border: 1px solid black;
}
